@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
  body {
    background-color: #f3f4f6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    color: black;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 2.25rem;
    }
  }

  h2 {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    color: #1e40af;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 1.875rem;
    }
  }

  p {
    font-family: "Inter", sans-serif;
    color: black;
  }
}

@layer components {
  .card {
    position: relative;
    width: 100%;
    max-width: 42rem;
    min-height: 12rem;
    display: flex;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    transition: all 0.3s ease;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .card:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .cat-view {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  @media (min-width: 768px) {
    .cat-view {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .back-btn {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    background-color: #1e40af;
  }

  .info-btn {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    background-color: #1e40af;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
